body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h2 {
    color: #333; /* Header color */
}

.header {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Padding around the header */
    background-color: #f4f4f4; /* Background color */
    border-bottom: 1px solid #ddd; /* Bottom border */
    position: relative; /* For positioning child elements */
}


/* Username Display Styles */
.username-container {
    font-size: 18px; /* Font size for username */
    color: #333; /* Text color */
    margin-right: 10px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
}

#user_name {
    margin-right: 10px; /* Space between username and button */
}

#rename-container {
    display: none;
    align-items: center; /* Center vertically */
    margin-right: 10px;
}

/* Button Styles */
button {
    padding: 8px 12px;
    background-color: #357ab8;
    color: white;
    border: none;
    border-radius: 4px; /* Rounded corners for buttons */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
    margin-left: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #4a90e2; /* Change color on hover */
}

aside {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ddd;
}

main {
    display: flex;
}

section {
    flex: 1;
    padding: 20px;
}

input {
    margin-right: 5px; /* Space between input and buttons */
    padding: 10px; /* Consistent padding */
    /*margin-bottom: 10px; !* Bottom margin for spacing *!*/
    width: calc(100% - 22px); /* Full width */
    border: 1px solid #ccc; /* Input border */
    border-radius: 4px; /* Rounded corners for input fields */
}

/*#file-list {*/
/*    list-style: none; !* 去掉默认的列表样式 *!*/
/*    padding: 0; !* 去掉内边距 *!*/
/*    margin: 0; !* 去掉外边距 *!*/
/*    max-width: 100%;*/
/*    border: 1px solid #ddd; !* 添加边框 *!*/
/*    border-radius: 8px; !* 圆角边框 *!*/
/*    overflow: hidden; !* 隐藏溢出部分 *!*/
/*    height: 300px;*/
/*    overflow-y: auto;*/
/*    background-color: #f9f9f9; !* 背景颜色 *!*/
/*}*/
#file-list {
    margin: 0; /* 去掉外边距 */
    padding: 0; /* 去掉内边距 */
}

#file-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

#file-list li:hover {
    background-color: #f1f1f1; /* 鼠标悬停时的背景颜色 */
}

#file-list li:last-child {
    border-bottom: none; /* 最后一个项不显示分隔线 */
}

.file-status {
    font-weight: bold; /* 状态文本加粗 */
}

.file-status.normal {
    color: #2196F3; /* 蓝色 */
}

.file-status.waiting {
    color: #9E9E9E; /* 灰色 */
}

.file-status.error {
    color: #F44336; /* 红色 */
}

#file-list button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #357ab8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#file-list button:hover {
    background-color: #4a90e2;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;          /* Center vertically */
    gap: 5px;
    justify-content: space-between;
    border: 1px solid #ddd;       /* Add border */
    border-radius: 8px;           /* Rounded corners */
    padding: 10px;                /* Padding around the container */
    background-color: #f9f9f9;    /* Light background color */
    width: 100%;
    height: 40px;
    margin: 0 auto;
    transition: height 0.3s ease;
}

.file-upload-row {
    display: flex;                   /* 按钮和输入框在同一行 */
    align-items: center;            /* 垂直居中对齐 */
    gap: 5px;
    width: 100%;
}

.file-upload-container.show-progress {
    height: 60px;
    padding-bottom: 20px;
}

.file-upload-container input[type="file"],
.file-upload-container input[type="text"] {
    padding: 0 6px;                 /* Padding for inputs */
    border: 1px solid #ccc;       /* Border */
    border-radius: 4px;           /* Rounded corners */
    font-size: 14px;              /* Font size */
    height: 30px;                 /* Increased height for better accessibility */
    line-height: 30px;
    width: calc(60% - 12px);
}

.file-upload-container button {
    padding: 0 12px;            /* Padding for buttons */
    background-color: #357ab8;    /* Button background color */
    color: white;                 /* Button text color */
    border: none;                 /* No border */
    border-radius: 4px;           /* Rounded corners */
    cursor: pointer;              /* Pointer cursor */
    font-size: 14px;              /* Font size */
    height: 35px;                 /* Increased height for better accessibility */
    line-height: 30px;
    width: 170px;
    transition: background-color 0.3s; /* Smooth transition */
    align-items: center;
    justify-content: center;
}

.file-upload-container button:hover {
    background-color: #4a90e2;    /* Change color on hover */
}

/* Progress bar container */
#upload-progress {
    width: 100%;
    height: 8px;
    display: none;
    border-radius: 4px;
    background-color: #f3f3f3;
    margin-top: 10px;
}

#upload-progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 4px;
}

#upload-progress::-moz-progress-bar {
    background-color: #4caf50;
    border-radius: 4px;
}

.selected {
    background-color: #e0f7fa; /* Change background color on hover */
    border-color: #00796b; /* Change border color on hover */
}

table {
    width: 100%; /* 表格宽度 */
    border-collapse: collapse; /* 合并边框 */
    margin-top: 20px; /* 表格顶部间距 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    border-radius: 8px; /* 圆角 */
    overflow: hidden; /* 防止圆角被边框影响 */
}

th, td {
    border: 1px solid #ddd; /* 边框颜色 */
    padding: 12px; /* 内边距 */
    text-align: left; /* 文本左对齐 */
}

th {
    background-color: #add8e6; /* 淡蓝色 */
    color: black; /* 表头字体颜色 */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* 偶数行背景颜色 */
}

tr:hover {
    background-color: #e8f5e9; /* 鼠标悬停行的背景颜色 */
}

.file-name {
    max-width: 150px; /* 设置最大宽度 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 省略号 */
}

#context-menu {
    display: none;
    position: absolute;
    background-color: transparent; /* 80%透明 */
    border: none;
    padding: 10px;
}